.mainOpen {
  margin-left: 240px;
  margin-top: 80px;
}

.mainClose {
  margin-left: 0px;
  margin-top: 80px;
}

.worshipArea {
  background: linear-gradient(
    135deg,
    #2de589 0%,
    #2d9bef 79%,
    #207cca 99%,
    #2de589 99%,
    #207cca 99%,
    #2989d8 100%,
    #7db9e8 100%,
    #2de589 101%
  );
  padding: 20px;
}

.adArea {
  background: linear-gradient(
    135deg,
    #2de589 0%,
    #2d9bef 79%,
    #207cca 99%,
    #2de589 99%,
    #207cca 99%,
    #2989d8 100%,
    #7db9e8 100%,
    #2de589 101%
  );
  float: right;
  width: 49%;
}

.worshipItem {
  display: flex;
  background: white;
  margin: 10px;
  justify-content: space-between;
  height: 70px;
  font-size: 1.2em;
}

.worshipItem-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.worshipItem-content:nth-child(1) {
  margin-left: 20px;
}

.worshipItem-button {
  display: flex;
  justify-content: flex-end;
}

.addItem-area {
  background: white;
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
}

.addItemButton {
  text-align: center;
  margin: 10px;
}
.addItem-content > div {
  background: white;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.addItem-button {
  display: flex;
  justify-content: flex-end;
}

.titleForm {
  min-width: 120px;
  min-height: 50px;
}

.detailContentInput {
  margin-left: 20px;
}

.presenterInput {
  margin-left: 20px;
}

.deleteLoadingText {
  color: crimson;
  text-align: center;
}

.modifyItem-button {
  text-align: right;
}
